{% load static %}
<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>{% block title %} NatCo 109th {% endblock title %}</title>

    <link rel="shortcut icon" href="{% static "assets/img/favicon.ico" %}">

    <link rel="stylesheet" type="text/css" href="{% static "assets/css/custom-animations.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "assets/css/style.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "assets/css/colors/Blue.css" %}">

    {% block styles %}
    {% endblock styles %}

    <!--[if lt IE 9]>
        <script src="{% static "assets/js/html5shiv.js"></script>
        <script src="{% static "assets/js/respond.min.js"></script>
    <![endif]-->
</head>

<body {% block bodyattr %}{% endblock bodyattr %}>

    {% block body %}
    {% endblock body %}

    <!--[if lt IE 9]>
        <script type="text/javascript" src="{% static "assets/js/jquery-1.11.3.min.js"></script>
    <![endif]-->
    <!--[if (gte IE 9) | (!IE)]><!-->
        <script type="text/javascript" src="{% static "assets/js/jquery-2.1.4.min.js" %}"></script>
    <!--<![endif]-->

    {% block javascript %}
    {% endblock javascript %}

    <script src="https://maps.googleapis.com/maps/api/js?v=3&libraries=places"></script>
    <script type="text/javascript" src="{% static "assets/js/bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/js/jquery.validate.min.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/js/toastr.min.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/js/jquery.waypoints.min.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/js/jquery.appear.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/js/jquery.plugin.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/js/jquery.countTo.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/js/jquery.countdown.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/js/masonry.pkgd.min.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/js/modal-box.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/js/datepicker.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/js/bootstrap-select.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/js/jquery.actual.min.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/js/ventcamp.js" %}"></script>

</body>
</html>

